/*-----Base styles -----*/

body{
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    font-family: 'TT Lakes';
}

.main{
    display: flex;
    flex-direction: column;
    gap:24px;
}

h1{
    font-size: 28px;
    letter-spacing: -0.6px;
    line-height: 40px;
}


/*-----Header -----*/


.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    width: 100%;
}
.header__nav-left{
    width: 155px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.header__nav-left, .header__nav-right{
    height: 40px;
    width: auto;
}

.header__left_logo{
    height: 40px;
}

/*-----Service section -----*/


.service__menu{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 16px;
    font-family: 'TT Lakes';
    font-weight: 500;
}

.service__menu-point.service__menu-point--active{
    background: white;
    border: 2px solid;
    border-color: #B8FFEC;
}

.service{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.service__menu::-webkit-scrollbar{
    display: none;
}

.service__menu{
    letter-spacing: -0.2px;
    line-height: 24px;
    font-size: 16px;
    color:#7E7E82;
    cursor: pointer;
}
.service__menu-point {
    display: inline-block;
    height: 40px;
    border-radius: 6px;
    padding: 8px 16px;
}
.service__header-title{
    width: 4px;
    border-radius: 0px 4px 4px 0px;
    background-color: #41F6D7;
}

.service__header-text{
    width: 300px;
    padding-left: 12px;
}

 /*-----About section -----*/


.about__text{
    font-size: 14px;
    letter-spacing: 0.2px;
}
.about__read-more{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.about__read-more p{
    font-family: 'TT Lakes';
    font-weight: 500;
}
.about__content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width:767.98px){
    .header__button.header__button--hidden, .service__action, .header__divider-hiddenmobile,.about__paragraph.about__paragraph_type_second{
        display: none;
    }
    
    .header{
        height: 88px;
        background: white;
        width: 100%;
        display: flex;
        border-bottom: 1px solid;
        border-color: #D9FFF5;
    }
   
    .about__text{
        display: flex;
        flex-direction: column;
        gap:16px;
    }
    .about{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    body{
        gap: 24px;
    }
    .about-image__office{
        width: 100%;
        display: flex;
    }
    .header__nav{
        padding: 0 16px;
    }
    .about__content{
        padding: 0 16px;
    }
    .header__nav-right{
        gap: 25px;
        padding-right: 16px;
    }
    .header__nav-left{
        gap: 10px;
    }
}



@media (min-width: 768px) and (max-width: 1119px) {
    .about{
        display: flex;
        flex-direction: row;
        gap:48px;
        padding: 0 24px;
    }
    .service__action{
        display: none;
    }
    .main{
        gap:32px;/* в мобилку отдельно другое число закинуть выше*/
    }
    .service{
        gap: 32px;/* в мобилку отдельно другое число закинуть выше*/
    }
    .service__menu{
        padding-left: 24px;
    }
    .service__header-text{
        padding-left: 20px;
    }
    body{
        gap: 24px;
    }
    .header__nav{
        padding: 0 24px;
    }
    .about__text{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .about__paragraph.about__paragraph_type_second{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-height: calc(2em * 1.4);
        line-height: 1.4;
    }
    .header__nav-right{
        gap: 16px;
    }
    .header__nav-left{
        gap: 20px;
    }
    .header{
        height: 88px;
        background: white;
        width: 100%;
        display: flex;
        border-bottom: 1px solid;
        border-color: #D9FFF5;
    }
}
@media (min-width:1119px){
    .header{
        display: none;
    }
    .about{
        display: flex;
        flex-direction: row;
        gap:43px;
        padding: 0 32px 0 32px;
    }
    .about__text{
        display: flex;
        flex-direction: column;
        gap: 20px;
        line-height:20px;
    }
    .about-image img{
        max-width: 531px;
        height: 307px;
    }
    .main{
        padding-top: 42px;
    }
    .service__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
    }
    .service__header-text{
        padding-left: 32px;
    }
    .service__action{
        display: flex;
        flex-direction: row;
        gap: 32px;
        padding-right: 32px;
    }
    .service__action button{
        font-family: 'TT Lakes';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:8px;
    }
    .service__menu{
        padding-left: 32px;
        flex-wrap: wrap; 
        white-space: normal;
    }
}

